.top_bar_nav {
    display: flex;
    flex-direction: row;
    padding: 10px 10px 10px 10px;
    height: 100%;
    width: 100%;
}

.left_nav_bar {
    flex: 0.5;
    display: flex;
}

.right_nav_bar {
    flex: 0.5;
}

.left_nav_bar a {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 0 20px 0 0;
    font-size: 20px;
}

.left_nav_bar > a {
    margin: 0 20px 0 50px;
}